﻿@model IEnumerable<TMentorsTechnicalTask.Models.Member>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>{{ title }}</h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@



<div class="row">

    @*<div class="form-group">
            <label class="control-label col-md-2">Project: </label>
            <div class="col-md-10">
                <select class="form-control">
                    <option ng-repeat="project in projects"
                            ng-attr-value="project.id"
                            ng-selected="projectClicked(selected)">
                        {{ project.name }}
                    </option>
                </select>
            </div>
        </div>*@
    <div class="col-xs-12">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createMemberModal">
            Create New Member
        </button>
        <br />
        <br />
        <div class="form-group">
            <label class="control-label col-md-2">Project: </label>
            <div class="col-md-10">
                <select class="form-control" ng-model="selectedProjectId"
                        ng-change="projectClicked(selectedProjectId)"
                        data-ng-options="project as project.name for project in projects">
                    <option value="">All Projects</option>
                </select>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="col-xs-12">
        <table class="table table-bordered table-striped table-hover">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>

            @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }*@

            <tr ng-repeat="member in members">
                <td>
                    {{ member.project.name }}
                </td>
                <td>
                    <a href="#" data-toggle="modal" data-target="#editMemberModal"
                       ng-click="editMemberClicked($index)">{{ member.name }}</a>
                </td>
                <td>
                    {{ member.title }}
                </td>
                <td>
                    <img src="~/Content/Images/Close.png" width="40" height="40" data-toggle="modal" data-target="#deleteModal" ng-click="deleteMemberClicked($index)" />
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>

        </table>
    </div>
</div>


<!-- Add Member Modal -->
<div class="modal fade" id="createMemberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Member</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <!-- Name -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="name">Name: </label>
                        <div class="col-md-10">
                            <input type="text" name="name" id="name" class="form-control"
                                   ng-model="addMember_name" />
                        </div>
                    </div>

                    <!-- Title -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="title">Title: </label>
                        <div class="col-md-10">
                            <input type="text" name="title" id="title" class="form-control"
                                   ng-model="addMember_title" />
                        </div>
                    </div>

                    <!-- Project -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="name">Project: </label>
                        <div class="col-md-10">
                            <select type="text" name="project" id="project" class="form-control"
                                    data-ng-options="project as project.name for project in projects"
                                    ng-model="addMember_project"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="AddMember()">Save New Member</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Delete Member Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Member</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete member {{ deleteMemberName }} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="deleteMember()">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Edit Member Modal -->
<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Member: {{ memberToEdit.name }}</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <!-- Name -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="name">Name: </label>
                        <div class="col-md-10">
                            <input type="text" name="name" id="name" class="form-control"
                                   ng-model="editMember_name" />
                        </div>
                    </div>

                    <!-- Title -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="title">Title: </label>
                        <div class="col-md-10">
                            <input type="text" name="title" id="title" class="form-control"
                                   ng-model="editMember_title" />
                        </div>
                    </div>

                    <!-- Project -->
                    <div class="form-group">
                        <label class="control-label col-md-2" for="name">Project: </label>
                        <div class="col-md-10">
                            <select type="text" name="project" id="project" class="form-control"
                                    data-ng-options="project.id as project.name for project in projects"
                                    ng-model="editMember_project"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="editMember()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->